.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;
  width: 90vw;
  max-width: 400px;
  min-height: 70vh;
  background-color: var(--primary-color-v);
  color: var(--secondary-color-v);
  text-align: center;
  font-weight: normal;
  border-radius: 12px;
  gap: 1rem;
}

.container h2 {
  color: var(--secondary-color-v);
}

.container form {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 1rem;
}

.container form input {
  padding: 1rem;
  border-radius: 12px;
}

.container form button[type="submit"] {
  color: var(--primary-color-v);
}

.container button[type="submit"] {
  background-color: var(--secondary-color-v);
  padding: 1rem;
}

.categoriesContainer {
  display: grid;
  gap: 1rem;
}

.submitBtn {
  background-color: var(--secondary-color-v);
  color: var(--primary-color-v);
  padding: 1rem;
  margin: 1rem 0;
}
