.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;
  width: 90vw;
  max-width: 400px;
  min-height: 70vh;
  background-color: var(--primary-color-v);
  color: var(--secondary-color-v);
  text-align: center;
  font-weight: normal;
  border-radius: 12px;
}

.container h2 {
  color: var(--secondary-color-v);
}

.container form {
  display: grid;
  gap: 1rem;
  align-content: center;
}

.container form > * {
  padding: 1rem;
  border-radius: 12px;
  font-size: 16px;
}

.container form input[type="submit"] {
  background-color: var(--secondary-color-v);
  color: var(--primary-color-v);
}

.container form select option[value="Type"] {
  text-align: center;
}

.container form input[type="file"] {
  display: none;
}

.container form .customUploadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--secondary-color-v);
  cursor: pointer;
}

.customUploadBtn span {
  color: var(--secondary-color-v);
}

.error {
  color: var(--error-color-v);
  margin: 1rem 0;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 50px, 0);
  }
}
