.customSelectsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  max-width: max-content;
}

.favoritesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.loginBtn {
  display: block;
  width: min-content;
  margin: 0 auto;
}

.loadMoreBtn {
  display: block;
  margin: 0 auto;
}

.feelsEmptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
