.container {
  background-color: var(--primary-color-v);
  color: var(--secondary-color-v);
  width: 80vw;
  min-height: 80vh;
  margin: 1rem auto;
  text-align: center;
  padding: 1rem;
  font-weight: normal;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
}

form {
  display: grid;
  gap: 1rem;
  align-content: center;
}

form > * {
  padding: 1rem;
  border-radius: 12px;
  font-size: 16px;
}

form input[type="submit"] {
  background-color: var(--secondary-color-v);
  color: var(--primary-color-v);
}

form select option[value="Type"] {
  text-align: center;
}

form input[type="file"] {
  display: none;
}

form .customUploadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--secondary-color-v);
  cursor: pointer;
}

.customUploadBtn span {
  color: var(--secondary-color-v);
}

.loadingBallContainer {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}

.loadingBall {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--secondary-color-v);
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

.error {
  color: var(--error-color-v);
  margin-top: 1rem;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 50px, 0);
  }
}
