.underlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 50%);
  z-index: 1;
}

.closeBtn {
  width: min-content;
  margin-left: auto;
  background-color: var(--primary-color-v);
  padding-bottom: 1rem;
}

.closeBtn span {
  color: var(--secondary-color-v);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color-v);
  color: var(--secondary-color-v);
  width: 80vw;
  text-align: center;
  padding: 1rem;
  font-weight: normal;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  z-index: 2;
}

form {
  display: grid;
  gap: 1rem;
  align-content: center;
}

form > * {
  padding: 1rem;
  border-radius: 12px;
  font-size: 16px;
}

form input[type="submit"] {
  background-color: var(--secondary-color-v);
  color: var(--primary-color-v);
}

form select option[value="Type"] {
  text-align: center;
}

form input[type="file"] {
  display: none;
}

form .customUploadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--secondary-color-v);
  cursor: pointer;
}

form .customUploadBtn * {
  cursor: pointer;
}

form .submitBtn {
  background-color: var(--secondary-color-v);
}

.error {
  color: var(--error-color-v);
  margin-top: 1rem;
}
