.hamburger {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.colorModeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.heading {
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
}
