.container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  text-align: center;
  margin-top: 1rem;
}

.menuIcon {
  margin-left: 1rem;
}

.themeIcon {
  margin-right: 1rem;
}
